// Colors
$website-width: 1280px;
$main-color: rgb(255, 118, 225);
$light-color: #fff;
$medium-color: pink;
$dark-color: #333;
$bg-image: url(../img/home_background.jpg);

// Set text color
@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return #000;
  } @else {
    @return #fff;
  }
}
